# Python temp files
*.pyc
*.pyo
*.mo
*.egg-info/
*.egg/
/build/
/dist/

# OS Temp files
.DS_Store

# Development
.python-version
.coverage
.coverage.*
*.db
.venv/
.tox/
/docs/_build/
/htmlcov/

# IDE's
.pydevproject
.idea/
.vscode/

# Extra to avoid docker build cache busting:
.git/
Dockerfile
