/* general CSS that can be disabled by removing the .meta-page in the overwritten templates */

.meta-page {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0 2rem 4rem 2rem;
}

.meta-page h2 { margin: 2rem 0 0.5rem 0; }
.meta-page h3 { margin: 1rem 0 0.5rem 0; }
.meta-page p { margin: 0 0 1rem 0; }

/* application-specific */

tbody th { text-align: left; padding-right: 2rem; }
tbody td { padding-right: 2rem; }
.complex-level-1 th { padding-left: 16px; }
.complex-level-2 th { padding-left: 32px; }
.complex-level-3 th { padding-left: 48px; }
